[submodule "bundle/commandt"]
	path = bundle/commandt
	url = https://github.com/wincent/Command-T
[submodule "bundle/drupalvim"]
	path = bundle/drupalvim
	url = http://git.drupal.org/project/vimrc.git
[submodule "bundle/wombat"]
	path = bundle/wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/vim-scripts/L9
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/harijari/FuzzyFinder.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/phpcomplete-shwn"]
	path = bundle/phpcomplete-shwn
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/vim-symfony"]
	path = bundle/vim-symfony
	url = https://github.com/docteurklein/vim-symfony
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = https://github.com/craigemery/vim-autotag
[submodule "bundle/vim-php-namespace"]
	path = bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace
[submodule "bundle/phpfolding"]
	path = bundle/phpfolding
	url = https://github.com/vim-scripts/phpfolding.vim
[submodule "bundle/php-getter-setter"]
	path = bundle/php-getter-setter
	url = https://github.com/docteurklein/php-getter-setter.vim.git
[submodule "bundle/YouCompleteMe"]
[submodule "bundle/vim-behat"]
	path = bundle/vim-behat
	url = git://github.com/veloce/vim-behat.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/vim-tern"]
	path = bundle/vim-tern
	url = https://github.com/marijnh/tern_for_vim
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-php-cs-fixer"]
	path = bundle/vim-php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer
[submodule "bundle/vim-yaml"]
	path = bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "bundle/twig-indent"]
	path = bundle/twig-indent
	url = https://github.com/tokutake/twig-indent
[submodule "bundle/phpcomplete-extended-symfony"]
	path = bundle/phpcomplete-extended-symfony
	url = https://github.com/m2mdas/phpcomplete-extended-symfony
[submodule "/home/jsobiecki/.vim/bundle/phpcomplete-extended"]
	path = /home/jsobiecki/.vim/bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
[submodule "bundle/vim-colorsque"]
	path = bundle/vim-colorsque
	url = https://github.com/gorodinskiy/vim-coloresque
[submodule "bundle/padawan/bundle/padawan"]
	path = bundle/padawan/bundle/padawan
	url = https://github.com/mkusher/padawan.vim
[submodule "bundle/padawan"]
	path = bundle/padawan
	url = https://github.com/mkusher/padawan.vim
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
